@font-face {
    font-family: "OxygenBold";
    src: local("OxygenBold"),
    url("../fonts/Oxygen-Bold.ttf") format("truetype");
    font-weight: bold;
}

body {
    font-family: "OxygenBold";

    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar {
    display: none;
}

#root,
.app {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.app {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}