.show-panel,
.hidden-panel,
.transitioning-panel {
    background-color: black;
    height: 100%;
    width: 30%;
    position: absolute;

    left: auto;
    right: 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.show-panel {

    visibility: visible;

    animation-name: expand, fadeIn;
    animation-duration: 500ms, 800ms;
    animation-delay: 0, 100ms;
}

@keyframes expand {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

@keyframes retract {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(100%);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
    }
}

.transitioning-panel {
    animation-name: retract, fadeOut;
    animation-duration: 500ms, 800ms;
    animation-delay: 0, 100ms;
}

.hidden-panel {
    visibility: hidden;
}

.show-panel h2,
.transitioning-panel h2,
.hidden-panel h2 {
    position: relative;
    color: white;
    background-color: black;
}

.cart-list {
    position: relative;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    padding: 0;
    margin: 0;
    list-style-type: none;
}

.list-item {
    position: relative;
    width: 100%;
    height: 10%;
}