.page-wrapper {
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    min-width: 480px;
    max-width: 960px;
}

.cart-wrapper {
    box-sizing: border-box;

    position: relative;
    display: inline-grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto;

    height: auto;
    width: 100%;

    gap: 0.5rem;

}

.cart-left,
.subtotal-wrapper {
}

.cart-left {
    position: relative;
    box-sizing: border-box;
    padding: 2rem;
    padding-right: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
}

.title-wrapper {
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 1rem;
}

.cart-list {
    background-color: white;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    gap: 3ch;
    text-indent: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;

    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: flex-start;
}

.cart-list-item {
    box-sizing: border-box;
    padding: 1rem;
    position: relative;
    border-bottom: black solid 1px;
    width: 100%;
}

.subtotal-wrapper {
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
    padding: 0.5rem;
}

.cart-right {
    position: relative;
    box-sizing: border-box;
    padding-top: 2rem;
}

.sub-cart-right {
    background-color: white;
    box-sizing: border-box;
}

.total-details-wrapper {
    padding: 1rem;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
}

.total-details-wrapper p,
.total-details-wrapper h4 {
    margin: 0;
    padding: 0;
}

h3 {
    margin: 0;
}

h5 {
    margin: 0;
}