.show-options,
.hidden-options {
  list-style-type: none;

  width: 100vw;

  position: fixed;

  padding: 2ch;

  margin: 0;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2ch;

  background-color: rgb(255, 255, 255);
  box-shadow: 0px 2px 15px rgb(173, 173, 173);

  z-index: -1;

  font-size: 1rem;
}

.show-options {
  visibility: visible;
  animation: expand 200ms ease-in-out;
  transform-origin: top;
}

.hidden-options {
  visibility: hidden;
}

.options-item {
  border-bottom: solid;
  border-color: transparent;

  transition: border-color 0.3s ease-in-out;
}

.options-item:hover {
  border-color: black;
}

@keyframes expand {
  0% {
    transform: scaleY(0);
  }

  70% {
    transform: scaleY(1.1);
  }

  100% {
    transform: scaleY(1);
  }
}