.footer-wrapper {
    position: relative;

    height: 30px;
    font-size: 8px;
    font-weight: lighter;
    width: 100%;
    background-color: rgba(252, 252, 252, 0.959);
    color: rgb(182, 182, 182);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2ch;

    bottom: 0;
}

.github {
    width: 13px;
}

a {
    text-decoration: none;
}