.image-view {
    width: 600px;
    height: 600px;

    overflow: hidden;

    position: relative;
}

.image-slider {
    width: 1200px;
    height: 600px;

    position: absolute;

    transition: all 1.3s ease-in-out;
}

.sliding-image {
    position: relative;

    width: 600px;
    height: 600px;
}

.btn-left,
.btn-right {
    position: absolute;
    top: 45%;
    padding: 2ch;
    width: 50px;
    height: 50px;
    border-radius: 10%;
    box-shadow: 2px 2px 2px rgba(20, 20, 20, 0);
    background-color: rgba(0, 0, 0, 0);
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(3, 3, 3);
    border-style: none;
}

.btn-left {
    left: 10px;
}

.btn-right {
    right: 10px;
}

.svg-wrapper {
    width: 50px;
    height: 50px;
}

.svg-wrapper img {
    width: 50px;
    height: 50px;
}

.svg-wrapper img:hover {
    transform: scale(1.5);
}