.button-purchase {
    box-sizing: border-box;
    padding: 0.5rem 1rem;
    margin: 0;
    width: 100%;
    background-color: rgb(42, 168, 42);
    font-weight: bolder;
    color: white;
    border: none;
}

.button-purchase:hover {
    background-color: rgb(35, 136, 35);
}