a {
    position: relative;
    color: rgb(0, 0, 0);
}

nav {
    position: fixed;
    width: 100vw;
    color: rgb(0, 0, 0);
    z-index: 9998;
}

.nav-wrapper {

    font-size: 0.8rem;

    box-sizing: border-box;

    margin: 0;
    padding: 2ch;

    height: 100%;
    width: 100%;

    position: relative;

    list-style: none;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: center;

    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);

    box-shadow: 0px 2px 15px rgb(173, 173, 173);
}

.left-button,
.right-button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.logo-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sections-wrapper {
    position: relative;
    display: flex;

    gap: 3ch;
}

.buttons-wrapper {
    position: relative;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr;
    justify-content: flex-end;
}

.search-wrapper {
    height: 100%;
    width: 100%;
}

.cart-icon {
    width: 100%;
    height: 100%;
    position: relative;

    display: flex;
    justify-content: flex-end;
    align-content: center;
}

.svg-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0%, -50%);

    width: 40px;
    height: 40px;

    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.cart-number-wrapper {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(150%, -120%);

    width: 20px;
    height: 20px;

    border-radius: 25px;

    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-number {
    color: white;
    text-align: center;

    font-size: 0.9rem;
    font-weight: bolder;

    margin: 0;
    padding: 0;
}