nav {
    height: 6ch;
    background-color: blanchedalmond;
}

.nav-wrapper {
    margin: 0;
    padding: 0;

    height: 100%;
    width: 100%;

    position: relative;

    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}