a {
    color: rgb(0, 0, 0);
}

nav {
    color: rgb(0, 0, 0);
}

.nav-wrapper {
    font-size: 0.8rem;

    box-sizing: border-box;

    margin: 0;
    padding: 2ch;

    height: 100%;
    width: 100%;

    position: relative;

    list-style: none;

    display: grid;
    grid-template-columns: 4fr 2fr 4fr;
    align-content: center;

    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);

    box-shadow: 0px 2px 15px rgb(173, 173, 173);
}

.logo-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.sections-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.buttons-wrapper {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr;
    justify-content: flex-end;
}

.search-bar {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.cart-icon {
    display: flex;
    justify-content: flex-end;
}

