.page-wrapper {
    position: relative;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 5ch;

    padding-top: 13%;
}

.info-wrapper {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1ch;
}

.info-detail {
    position: relative;
    margin: 0;
    padding: 0;
}