.store-page-wrapper,
.store-page-wrapper-mobile {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
}

.store-page-wrapper {
    margin-top: 140px;
}

.store-page-wrapper-mobile {
    margin-top: 100px;
}

.page-name {
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 2rem;
    padding: 0;
    margin: 0;
}

.filter-menu-wrapper {
    margin-top: 2ch;
    margin-bottom: 2ch;
    padding-right: 2ch;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.store-list {

    box-sizing: border-box;

    position: relative;
    width: 100%;

    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;

    padding: 0;
    margin: 0;
    padding-left: 2ch;
    padding-right: 2ch;
    text-indent: 0;
    list-style-type: none;
}

.list-item {
    position: relative;
    max-width: 500px;
}